// ==========================================================================
// MOBILE, GENERAL STYLES
// tablette paysage ou vieux écrans avec un browser récent
// ==========================================================================

@media screen and (max-width: 1200px)

  //
  //
  // LAYOUT AND FONTS
  html,
  .grid > * > *,
  .cols-2 > * > *,
  .cols-3 > * > *,
  .cols-4 > * > *
    font-size: 14px

  .content
    font-size: 14px !important



@media screen and (max-width: 1024px)

  //
  //
  // FEATURES
  .features
    .infos
      font-size: 0.688em
      .favorite
        font-size: 1.125em

  //
  //
  // BLOG
  .blog
    .actions
      font-size: 1.25em



@media screen and (max-width: 1024px)

  //
  //
  // WAQ 2015

  .waq2015
    .grid
      +grid(3,$medium)