// ==========================================================================
// LARGE SCREENS
// ==========================================================================

@media screen and (min-width: 1400px)

  //
  //
  // LAYOUT AND FONTS
  html,
  .grid > * > *,
  .cols-2 > * > *,
  .cols-3 > * > *,
  .cols-4 > * > *
    font-size: 18px

  .content
    font-size: 18px !important

  .container
    max-width: 1280px


  //
  //
  // INTRO
  section.intro
    .title
      &.main
        font-size: 2.5em


  //
  //
  // WAQ2015
  .profile
    .infos
      &:before
        margin-right: -5px