// =====================================================================================
// SMALL
// tablette portrait ou téléphone immense
// =====================================================================================

@media screen and (max-width: 820px)
  

//
//
// téléphone larges, juste en dessous du 768px d'une tablete
@media screen and (max-width: 760px)

  //
  //
  // COLUMNS

  .cols-2
    +grid(1,0)
    &.small-margins
      +grid(1,0)
    &.xsmall-margins
      +grid(1,0)

    .intro &.top
      +grid(2, $margin)

  .cols-3
    +grid(3, $margin)
    &.small-margins
      +grid(3, $s-margin)
    &.xsmall-margins
      +grid(3, $xs-margin) 
  
  .cols-4
    +grid(4, $margin)
    &.small-margins
      +grid(4, $s-margin)
    &.xsmall-margins
      +grid(4, $xs-margin) 



  //
  //
  // INTRO

  .intro
    .col
      &.left
        text-align: center
        >*
          padding-right: 0
      &.right
        >*
          padding-left: 0
    .top .col.left
      text-align: right  
      >*
        padding-right: $l-margin
    .top .col.right
      >*
        padding-left: $l-margin