// ==========================================================================
// XSMALL
// téléphones
// =====================================================================================

@media screen and (max-width: 580px)

  //
  //
  // PARTNERS
  .logos
    &.small
      +grid(3, 0)


  //
  //
  // INTRO

  .intro
    .col.main
      &.left
        text-align: center
      &.left,
      &.right
        >*
          padding-left: 0
          padding-right: 0

    .main.right
      position: relative
      top: auto
      left: auto
      right: auto
      bottom: auto
      >*
        position: static
        left: auto
        width: 100%
      .top
        height: auto
        width: 100%
        .left
          padding-right: $large
          padding-left: 0
        .right
          padding-left: $large
          padding-right: 0

      .middle
        top: auto
        height: auto
      .bottom
        top: auto
        height: auto



@media screen and (max-width: 480px)

  //
  //
  // TYPOGRAPHY
  .title
    &.main
      font-size: 1.875em

  //
  //
  // WAQ 2015
  .waq2015
    .grid
      +grid(1, 0)


