// ==========================================================================
// XSMALL
// téléphones
// =====================================================================================

@media screen and (max-width: 580px)

  //
  //
  // MODULES
  .conferencer-info
    .wrap
      > *
        font-size: 0.75em
        float: none
    .meta
      > *
        float: left

  //
  //
  // INTRO
  section.intro
    .col.main
      &.left
        text-align: center
        padding-left: 0
        padding-right: 0
      &.left,
      &.right
        >*
          padding-left: 0
          padding-right: 0
          top: auto
          height: auto
          width: 100%

    .main.left
      padding: $xlarge $medium $small $medium
      .middle
        top: auto
        img
          padding: 0

    .main.right
      position: relative
      top: auto
      left: auto
      right: auto
      bottom: auto
      >*
        position: static
        left: auto
        width: 100%
      .top
        .left
          padding-right: $xlarge
          padding-left: 0
        .right
          padding-left: $xlarge
          padding-right: 0
        .title
          font-size: 1.25em

      .middle
        .title.main
          font-size: 1.75em
      .bottom
        .title.huge
          font-size: 1.25em


  //
  //
  // FEATURES
  .features
    .infos
      font-size: 0.625em
      .touch &
        > *
          padding: 10px

      .favorite
        font-size: 1em

  //
  //
  // SCHEDULE
  .schedules
    .session.wide
      &.has-thumb
        > * > *
          margin-left: 3.5em
        .thumb
          width: 2.5em
          height: 2.5em
          margin-left: 0
    .keynote
      .session-title,
      .speaker,
      .infos
        text-align: left


  //
  //
  // BLOG
  .feed
    .right
      display: none
    .grid
      +grid(1, 0)


  //
  //
  // PARTNERS
  .logos
    &.small
      +grid(3, $medium)

  //
  //
  // WAQ 2015
  .waq2015
    .group
      .grid
        +grid(1, 0)

  //
  //
  // BLOG-PAGE
  .blog-page
    .posts
      +grid(1, 0)

  //
  //
  // SINGLE
  .single
    &.article
      .col
        &.wide
          width: 100%
    .content
      font-size: 0.75em

  //
  //
  // SCHEDULES
  .program
    .days
      height: auto
      .sticky
        position: relative
        margin-top: 0
        top: auto
        margin-left: 0
        height: auto
        padding: 0
      ul
        +grid(1,0)
      .btn
        text-align: center
      .title
        +inlineb
  .filters
    .content
      font-size: 0.75em
  .schedules
    tbody
      td
        width: 80%

  //
  //
  // PROFILES
  .profile-sessions
    .session
      &.has-thumb
        >.wrap>*
          margin-left: 4em
        .thumb
          width: 3.5em
          height: 3.5em
          margin-left: 0.5em
      .session-title
        font-size: 1.25em


@media screen and (max-width: 480px)
  //
  //
  // CONTAINER
  .container
    padding: 0 $small


  //
  //
  // TYPOGRAPHY
  .title
    &.main
      font-size: 1.875em

  //
  //
  // FILTERS
  .filters
    .toggle
      display: block
      width: 100%

  //
  //
  // PROFILE
  .profile-sessions
    .session


  //
  //
  // FOOTER
  footer
    .info-general
      +grid(1, 0)
      > *
        padding-top: 0
      .title
        margin-top: 1em
      p:last-child
        margin-bottom: 0
    .contact-general
      max-width: 90%


