// ==========================================================================
// FORMS
// ==========================================================================

// RESET
form
  @extend .clearfix

input[type="submit"],
input[type="text"],
input[type="password"],
input[type="file"],
select,
textarea
  border: none
  outline: none
  outline-color: transparent
  height: auto
  -webkit-appearance: none
  background-color: transparent
  -webkit-font-smoothing: inherit !important


//
//
// field
.form
  &>.message
    margin: $small $medium
    padding: $small $medium
    border: 1px solid $d-blue
    color: $d-blue
  .tabs
    padding: 1px
  .tab-triggers
    +grid(2,0)
    vertical-align: top
  .tab-trigger
    vertical-align: middle
    color: $d-blue
    min-height: 4em
    background: $l-grey
    padding: 0.5em 1em
    margin: 0
    border: none
    outline: none
    +prefix(transition, background 240ms $ease, color 240ms $ease)
    .no-touch &:hover
      color: $blue
    &.active
      background: #fff
      color: $blue
//
//
// FIELDS
.field
  width: 100%
  padding: $small $medium
  // border-top: 1px solid $l-grey
  &:first-child
    border-top: none
  label
    @extend .title
    @extend .sub.title
    input
      +inlineb
      width: auto
      height: auto

  input
    display: block
    width: 100%
    border: 1px solid $grey
    padding: 0.5em
    height: 3em
    line-height: 1
    +prefix(transition, border 120ms linear)
    .no-touch &:hover
      border-color: $blue
    &:focus
      border: 3px solid $blue
      color: $blue

    &[type="submit"]
      background: $blue
      color: $l-grey
      border: none
      .no-touch &:hover,
      &:active,
      &:focus
        background: $d-blue
        color: #fff
        border: none
  .error
    color: $red
    &+input
      border-color: $red
      color: $red
      .no-touch &:hover,
      &:focus
        color: $blue
        border-color: $blue

//
//
// wp_login_form()
#loginform,
#registerform
  padding: $small 0
  p
    margin: 0
  .login-remember
    @extend .note
  .login-submit
    @extend .btn