// ==========================================================================
// ICONS
// ==========================================================================

// +font-face("icons", "../fonts/icons")

.icon-arrow-right:after,
.icon-more:after,
.icon-close:after,
.icon-facebook:after,
.icon-twitter:after,
.icon-linkedin:after,
.icon-forward:after
  font-family: $font-icons
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  -webkit-font-smoothing: antialiased
  text-decoration: inherit
  text-indent: 0
.icon-facebook:after,
.icon-twitter:after,
.icon-linkedin:after
  font-family: $font-social

.icon-more:after
  content: "5"
.icon-close:after
  content: "6"
.icon-arrow-right:after
  content: "7"
.icon-forward:after
  content: "X"
.icon-facebook:after
  content: "\f30c"
.icon-twitter:after
  content: "\f309"
.icon-pinterest:after
  content: "\f312"
.icon-linkedin:after
  content: "\f318"