// ==========================================================================
// LAYOUT
// ==========================================================================

// GENERAL
html, body
  width: 100%
  max-width: 100%
  height: 100%
  min-height: 100%
body
  overflow: hidden
  height: auto
html
  overflow-x: hidden
  overflow-y: auto


.wrapper
  min-height: 100%

main
  min-height: 75vh

section,
article
  padding: $large 0 $large
  position: relative
  z-index: 1
  overflow: hidden
  header,
  hgroup
    padding: $large 0 $large
  &.single,
  &:first-child
    header,
    hgroup
      padding: ($xxlarge + (2*$medium)) 0 0
    &+section,
    &+article
      padding-top: 0
.container
  max-width: 1000px
  padding: 0 $medium
  margin: 0 auto
  +clearfix
  &.narrow
    max-width: 540px

.group
  margin-bottom: 1em

.bang-coverall
  position: fixed
  z-index: 999
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: #fff
  .ready &
    display: none

//
//
// HEADER
header[role="banner"],
hgroup
  position: relative
  z-index: 10

nav[role="navigation"]
  position: fixed
  top: $small
  left: $small
  right: $small
  height: $nav-height
  z-index: 5
section.intro+nav
  position: absolute
  top: auto
  bottom: ($nav-height/-2)
  &.fixed
    position: fixed
    top: $small
    &.bottom
      top: auto
      bottom: $small


//
//
// FOOTER
footer
  padding: $medium 0


//
//
// COLUMNS
.cols
  >*
    vertical-align: top
.cols-2
  @extend .cols
  +grid(2, $medium)
  &.no-margins
    +grid(2, 0)
  &.small-margins
    +grid(2, $small)
  &.xsmall-margins
    +grid(2, $xsmall)
  &.large-margins
    +grid(2, $large)
.cols-3
  @extend .cols
  +grid(3, $medium)
  &.small-margins
    +grid(3, $small)
  &.xsmall-margins
    +grid(3, $xsmall)
  &.large-margins
    +grid(3, $large)
.cols-4
  @extend .cols
  +grid(4, $medium)
  &.small-margins
    +grid(4, $small)
  &.xsmall-margins
    +grid(4, $xsmall)
  &.large-margins
    +grid(4, $large)

.col
  &:first-child
    float: left
    padding-right: $large
  &.wide
    width: $wide
  &.narrow
    width: $narrow
  &+.col
    display: block
    width: auto
    &.narrow
      padding-left: $wide
    &.wide
      padding-left: $narrow