// ==========================================================================
// NAVIGATION
// ==========================================================================
header[role="banner"]
  nav
    .logo
      position: absolute
      top: 0
      left: 0
      height: 100%
      +align-children(middle)
      a
        padding: 0 $large
      img
        width: 91px

    ul
      a
        @extend .title
        @extend .small.title
        +inlineb
        padding: 37px 0
        margin: 0 1em
        border-bottom: 0 solid #fff
        position: relative
        +prefix(transition, all 120ms $ease)
    .main
      a
        &:before
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 1px
          background: $l-blue
          content: ''
          opacity: 0
          +prefix(transition, height 0.5s, opacity 0.5s, transform 0.5s)
          -webkit-transform: translateY(0px)
          -moz-transform: translateY(0px)
          transform: translateY(0px)
        &:after
          position: absolute
          bottom: 0
          left: 0
          width: 100%
          height: 1px
          background: $l-blue
          content: ''
          opacity: 0
          +prefix(transition, height 0.5s, opacity 0.5s, transform 0.5s)
          -webkit-transform: translateY(0px)
          -moz-transform: translateY(0px)
          transform: translateY(0px)
      li.active a,
      .no-touch & a:hover::after
        bottom: 0
        color: $l-blue
        height: 2px
        opacity: 1
        -webkit-transform: translateY(-10px)
        -moz-transform: translateY(-10px)
        transform: translateY(-10px)
      li.active a,
      .no-touch & a:hover::before
        top: 0
        color: $l-blue
        height: 2px
        opacity: 1
        -webkit-transform: translateY(10px)
        -moz-transform: translateY(10px)
        transform: translateY(10px)

    .main,
    .secondary
      background: #fff
      // padding: $medium
      height: 100%
      z-index: 2
      @extend .shadows
      +align-children(middle)
      
      a
        color: $d-blue
        .no-touch &:hover
          color: $l-blue
        &.active
          color: $l-blue
    .main
      display: block
      padding-left: 91px + (2*$large)
      margin-right: 200px + $small

    .secondary
      float: right
      width: 200px
      padding: 0 $large
      +gradient($l-blue, $d-blue)
      &:before
        margin: 0

      li
        width: 100%
      a
        color: $l-grey
        width: 100%
        position: relative
        margin-left: 0
        margin-right: 0
        @extend .icon-favorite
        &:after
          float: right
          line-height: 1em
          margin-right: 0.1em

      li.active a,
      .no-touch & a:hover
        color: #fff
        border-color: #fff
        margin-left: 0
        margin-right: 0

    



