// ==========================================================================
// PAGES
// ==========================================================================

//
//
// INTRO
.intro
  padding: $medium 0 ($nav-height/2 + $medium)
  .container
    position: relative
    overflow: hidden
    max-width: 1200px
    z-index: 2
    padding: $xxlarge $medium
  .bg
    position: absolute
    top: 0
    left: -50%
    width: 200%
    height: 100%
    z-index: 0
    text-align: center  
    >*
      +inlineb
      min-width: 50%
      min-height: 100%
  
  .col
    &.main>*
      padding: $medium
    &.left
      text-align: right

  // RIGHT COLUMN
  .main.right
    position: absolute
    top: $xxlarge
    left: 50%
    right: $medium
    bottom: $xxlarge
    >*
      position: absolute
      left: 0
      width: 100%

    .border-top,
    .border-bottom
      display: block
      height: 1px
      width: 10%
      padding: 0
      position: absolute
      left: 0
    
    // BOX RIGHT TOP
    .top
      +align-children(top)  
      height: 23%
      margin: 0
      background: url(../img/marker.png) no-repeat center top
      .left
        padding-right: $large*1.5
      .right
        padding-left: $large*1.5
      &:after
        height: 300%
        top: auto
        bottom: 0
      .border-bottom
        bottom: 0
    
    // BOX RIGHT MIDDLE
    .middle
      +align-children(middle)  
      top: 23%
      height: 28%
      padding-left: 0
    
    // BOX RIGHT BOTTOM
    .bottom
      +align-children(middle)  
      text-align: center
      top: 51%
      height: 49%
      &:after
        height: 300%
      .border-top
        top: 0

  .title
    margin: 0

  img
    max-width: 100%

  .btn.eventbrite
    text-align: center
    display: block
    .title
      padding: $large $large $medium
    img
      margin-bottom: $large
    &:before
      display: block
      background: $l-blue
    &:after
      border-color: $blue




//
//
// FEATURES
.features
  padding: 0
  .grid
    width: 100%
    +grid(2,0)
    
  .panel
    padding-top: 28%
    position: relative
    overflow: hidden
    z-index: 0
   
    +box-shadow(0 0 0 0 rgba(0,0,0,0.1), 0 0 0 0 rgba(0,0,0,0.06))
    +prefix(transition, box-shadow 240ms $ease, z-index 0 linear 120ms)
    
    .no-touch &:hover,
    &.active
      z-index: 1
      +box-shadow($shadows)
      figcaption
        +opacity(1)
        +prefix(transform, translate3d(0,0,0))
    >*
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
  .image
    z-index: 0
    img
      width: 100%

  .favorite
    float: right
    margin-right: 0
    margin-left: 1em
  
  .speaker
    margin-bottom: 0.5em
    .title 
      margin-bottom: 0.2em

  .infos
    z-index: 1
    padding: $large
    +align-children(bottom)
    +opacity(0)
    +prefix(transform, translate3d(0,$large,0))
    +prefix(transition, opacity 120ms $ease, transform 120ms $ease)
    >*
      width: 100%
    &:after
      content: ""
      display: block
      position: absolute
      z-index: -1
      bottom: 0
      left: 0
      width: 100%
      height: 110%
      background: url(../img/gradient-alpha-vertical-fff.png) repeat-x left bottom

  .session
    +inlineb
    width: 100%
    .wrap
      padding-left: 8.5em 
      +inlineb
      &:after
        font-size: 1.25em
        padding-right: 0.75em
    .meta
      position: absolute
      top: 0
      bottom: $shadow-length
      left: 0
      width: 7.5em      
      text-align: center
      +border-radius( 4px 0 0 4px)
      +align-children(middle)
      >*
        +inlineb
        padding: 0.5em
        height: 100%
        +align-children(middle)
        &+*
          border-left: 1px solid $m-grey
      .title
        margin: 0
        line-height: 1
        text-align: right
    
    .session-title
      padding: 0.25em 0.5em
      color: $d-blue
      margin: 0
    

//
//
// PROGRAMMATION
.program
  padding-top: 0
  >nav
    padding-top: $xlarge
    padding-bottom: $large
  .days
    ul
      +grid(3,$medium)
    .btn
      width: 100%
      text-align: right
    .title
      margin: 0



//
//
// COORDONNÉES

.event-location
  &:after
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 50%
    height: 100%
    background: #fff
    background: rgba(255,255,255,0.8)
    z-index: 1
  .container
    position: relative
    z-index: 2
  .content
    margin-top: $large

  .map
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 0

//
//
// SINGLE
.single
  hgroup 
    .btn
      float: right
      position: relative
      z-index: 100
      margin-top: 1em
      margin-bottom: -2em

  .session,
  .conferencer
    padding: $xlarge 0 

  .session
    font-size: 1.25em
    .tags
      font-size: 0.875em
    .content+*
      border-top:  1px solid $grey
      padding-top: $medium
      margin-top: $medium

  .about
    text-align: center
    display: block
    padding-bottom: $medium
    margin-bottom: $medium  
    border-bottom: 1px solid $grey
    >*
      display: inline-block
    .name
      width: 100%
      margin-top: $medium
  .thumb
    width: 200px
    height: 200px
    img
      min-height: 100%




