// ==========================================================================
// PAGES
// ==========================================================================


//
//
// NO SCHEDULE
.no-schedule
  .favorite,
  #menu-mon-horaire
    display: none
  header[role="banner"] nav .main
    margin-right: 0

//
//
// INTRO
section.intro
  padding: $medium 0 ($nav-height/2 + $medium)
  .container
    position: relative
    overflow: hidden
    max-width: 1200px
    z-index: 2
    padding: $xxlarge $medium
  .bg
    position: absolute
    top: 0
    left: -50%
    width: 200%
    height: 100%
    z-index: 0
    text-align: center  
    >*
      +inlineb
      min-width: 50%
      min-height: 100%
  .col
    &.main>*
      padding: $medium
    &.left
      text-align: right

  // RIGHT COLUMN
  .main.right
    position: absolute
    top: $xxlarge
    left: 50%
    right: $medium
    bottom: $xxlarge
    >*
      position: absolute
      left: 0
      width: 100%

    .border-top,
    .border-bottom
      display: block
      height: 1px
      width: 10%
      padding: 0
      position: absolute
      left: 0
    
    // BOX RIGHT TOP
    .top
      +align-children(top)  
      height: 23%
      margin: 0
      background: url(../img/marker.png) no-repeat center top
      .left
        padding-right: $large*1.5
      .right
        padding-left: $large*1.5
      &:after
        height: 300%
        top: auto
        bottom: 0
      .border-bottom
        bottom: 0
    
    // BOX RIGHT MIDDLE
    .middle
      +align-children(middle)  
      top: 23%
      height: 28%
      padding-left: 0
    
    // BOX RIGHT BOTTOM
    .bottom
      +align-children(middle)  
      text-align: center
      top: 51%
      height: 49%
      &:after
        height: 300%
      .border-top
        top: 0

  .title
    margin: 0

  img
    max-width: 100%

  .btn.eventbrite
    text-align: center
    display: block
    .title
      padding: $large $large $medium
    img
      margin-bottom: $large
    &:before
      display: block
      background: $l-blue
    &:after
      border-color: $blue




//
//
// FEATURES
.features
  padding: 0
  .grid
    width: 100%
    +grid(2,0)
    
  .panel
    padding-top: 28%
    position: relative
    overflow: hidden
    z-index: 0
   
    +box-shadow(0 0 0 0 rgba(0,0,0,0.1), 0 0 0 0 rgba(0,0,0,0.06))
    +prefix(transition, box-shadow 240ms $ease, z-index 0 linear 120ms)
    
    .no-touch &:hover,
    &.active
      z-index: 1
      +box-shadow($shadows)
      figcaption
        +opacity(1)
        +prefix(transform, translate3d(0,0,0))
    >*
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
  .image
    z-index: 0
    img
      width: 100%

  .favorite
    float: right
    margin-right: 0
    margin-left: 1em

  .speaker
    margin-bottom: 0.5em
    .title
      margin-bottom: 0.2em
      font-size: 1.5em
      font-weight: 300
      color: $d-grey
    .job
      font-style: italic

  .infos
    z-index: 1
    padding: $large
    +align-children(bottom)
    +opacity(0)
    +prefix(transform, translate3d(0,$large,0))
    +prefix(transition, opacity 120ms $ease, transform 120ms $ease)
    >*
      width: 100%
    &:after
      content: ""
      display: block
      position: absolute
      z-index: -1
      bottom: 0
      left: 0
      width: 100%
      height: 110%
      background: url(../img/gradient-alpha-vertical-fff.png) repeat-x left bottom

  .session
    +inlineb
    width: 100%
    .wrap
      padding-left: 8.5em
      +inlineb
      &:after
        font-size: 1.25em
        padding-right: 0.75em
        line-height: 2.5em
    .meta
      position: absolute
      top: 0
      bottom: $shadow-length
      left: 0
      width: 7.5em
      text-align: center
      +border-radius( 4px 0 0 4px)
      +align-children(middle)
      >*
        +inlineb
        padding: 0.5em
        height: 100%
        +align-children(middle)
        &+*
          border-left: 1px solid $m-grey
      .title
        margin: 0
        line-height: 1
        text-align: right

    .session-title
      font-size: 1.25em
      margin-top: 0
      padding: 0.4em 0
      font-weight: 500
      color: $d-blue


//
//
// PROGRAMMATION
.program
  padding-top: 0
  >nav
    padding-top: $xlarge
    padding-bottom: $large
  .days
    ul
      +grid(3,$medium)
    .btn
      width: 100%
      text-align: right
    .title
      margin: 0



//
//
// COORDONNÉES

.event-location
  &:after
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 50%
    height: 100%
    background: #fff
    background: rgba(255,255,255,0.8)
    z-index: 1
  a
    color: $d-blue
  .title,
  .content
    position: relative
    z-index: 2
  .title
    &.small
      text-transform: none
      margin: 1em 0 0 0
      line-height: 1.25em
  .content
    margin-top: $large
    p
      margin-bottom: 0
      line-height: 1.25em
  .hashtag
    overflow: hidden
    text-align: center
    margin-top: 1.875em
    .img
      +inlineb()
      height: 1.688em
      position: relative
      padding: 0 1em
      img
        height: 100%
      &:before,
      &:after
        content: ' '
        display: block
        position: absolute
        height: 1px
        background: $grey
        width: 500px
        top: 50%
        margin-top: -1px
      &:before
        right: 100%
      &:after
        left: 100%
  .social
    list-style-type: none
    font-size: 1.25em
    margin-top: 0.5em
    text-align: center
    li
      +inlineb
      width: auto
      padding: 0
      &:after
        display: none
    a
      text-indent: -9999px
      display: block
      width: 0.5em
      height: 1.25em
      position: relative
      color: $d-blue
      &:after
        position: absolute
        top: 0
        left: 0
        line-height: 1.25em
        height: 100%
        width: 100%
      .no-touch &:hover
        color: $blue
      &.facebook
        @extend .icon-facebook
      &.twitter
        @extend .icon-twitter
      &.linkedin
        @extend .icon-linkedin

  .map
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 0

//
//
// BLOGUE

.blog
  .featured
    border: 1px solid $l-blue
    +border-radius(4px)
    padding: 0
    margin-bottom: 0.25em
    .image
      img
        max-width: 100%
    .article-info
      margin-bottom: 0.625em
      padding-bottom: 0.625em
      border-bottom: 1px solid $d-grey2
    .content
      padding: 1em
      p
        margin-bottom: 0
        line-height: 1.25em
      .link-status
        display: block
        margin-top: 0.5em
        font-size: 0.875em
        text-transform: uppercase
    .meta
      +font-smoothing(on)
    .title
      margin-top: 0
  .col
    padding-bottom: 0

.stream-post
  padding: 0.75em 0
  position: relative
  &.border-bottom
    margin-bottom: 1em
    &:after
      background: $d-grey2
  &.twitter
    &:before
      @extend .icon-twitter:after
      position: absolute
      top: 0.75em
      right: 0
      font-size: 1.25em
      color: $l-grey1
  &.instagram
    padding-bottom: 1.25em
    &:before
      @extend .icon-instagram:after
      position: absolute
      top: 0.75em
      right: 0
      font-size: 1.25em
      color: $l-grey1
  .post-infos
    margin-bottom: 1em
    +align-children(middle)
  .thumb
    +inlineb()
    height: 2em
    width: 2em
  .user
    +inlineb()
    > *
      line-height: 0.875em
  .name
    display: block
    color: $grey
    font-size: 0.875em
  .username
    font-size: 0.875em
  .date
    color: $grey
    font-size: 0.875em
  p
    margin-bottom: 0
  img
    max-width: 100%
  .actions
    text-align: center
    +inlineb()
    float: right
    li
      +inlineb()
      width: 20px
    a
      display: block
      text-indent: -9999px
      line-height: 25px
      color: $grey
      height: 25px
      position: relative
      &.reply,
      &.retweet,
      &.favorite
        &:after
          position: absolute
          width: 100%
          line-height: 0
          top: 50%
          right: 0

      &.reply
        @extend .icon-reply
        &:after
          font-size: 0.8em
          display: block
          text-indent: 0
      &.retweet
        @extend .icon-retweet
        &:after
          font-size: 0.9em
          display: block
          text-indent: 0
      &.favorite
        @extend .icon-favorite
        &:after
          font-size: 0.9em
          display: block
          text-indent: 0


//
//
// PARTENAIRES

.sub
  margin: 1.222em 0 0 0

.logos
  +clearfix()
  margin: 0 0 4.5em 0
  li
    +inlineb()
    width: 25%
    padding: 20px
    float: left
    margin-top: 3.5em
  img
    max-width: 100%
  &.small
    li
      padding: 0
      width: 20%

.presenters
  .logos
    text-align: center
    li
      float: none


//
//
// WAQ 2015

.waq2015
  .content
    margin-top: 30px
  .top,
  .bottom
    +clearfix()
    margin-bottom: 45px
  .waq-infos
    width: 66.66666%
    padding-right: 130px
    float: left
  .description
    padding-right: 40px
  .volounteers
    width: 33.33333%
    float: left
    padding-left: 20px
  .grid
    +grid(4,$medium)
    .profile
      .name
        font-size: 1em
        padding: 0 1em 0 1px
  .group
    margin-bottom: 0
    > ul
      margin-top: 20px


//
//
// SINGLE

.single
  hgroup
    .btn
      float: right
      position: relative
      z-index: 100
      margin-top: 1em
      margin-bottom: -2em
    .name
      h2
        font-size: 0.5em
    .favorite
      margin-top: 0
    .main
      &.title
        width: 75%
  .conference
    font-size: 1.25em
    float: left
    margin-top: $xsmall
    margin-right: $medium
    .tags-section
      font-size: 0.8em
  .conferencer
    margin-top: -30%
    float: left
    position: relative
    z-index: 100
  .single-article
    .image-une
      padding-bottom: 1.25em
  .session
    padding: $xlarge 0
    font-size: 1.25em
    .tags
      font-size: 0.875em
    .content
      border-top:  1px solid $grey
      padding-top: $medium
      margin-top: $medium
  .content
    padding-bottom: 2em
    border-bottom: 1px solid $l-grey1
  .tags
    margin: 0.5em 0
    a
      color: $d-grey
  .about
    width: 100%
    text-align: left
    display: block
    padding-bottom: $medium
    margin-bottom: 17px
    +clearfix()
    +align-children(middle)
    min-height: 100px
    >*
      display: inline-block
    .name
      margin-left: $medium
      .title
        margin-top: 3px
  .thumb
    width: 100px
    height: 100px
    float: left
    img
      min-height: 100%
//
//
// FOOTER
footer
  .top-footer
    +clearfix()
  .sub-footer
    +clearfix
    position: relative
    padding-top: $medium
    border-top: 1px solid $m-grey
  .right-section
    min-height: 300px
    text-align: center
    +align-children(middle)
  .info-general
    +inlineb()
    width: 100%
    margin: $small 0 0 0
    p
      margin-bottom: 1em
      &:last-child
        margin-bottom: $small
  .contact-general
    max-width: 75%
    margin: 0 auto
    padding: 1.563em 1.563em 1.25em 1.563em
    border-radius: 5px
    border: 1px solid $m-grey
    >*
      +inlineb
      +align-children(middle)
    .title
      margin: 0 0 $small 0
    .hashtag
      height: 2.625em
    .social
      list-style-type: none
      font-size: 1.75em
      margin-top: 0.5em
      li
        +inlineb
        width: auto
        padding: 0
        &:after
          display: none
      a
        text-indent: -9999px
        display: block
        width: 1.25em
        height: 1.25em
        position: relative
        color: #fff
        &:after
          position: absolute
          top: 0
          left: 0
          line-height: 1.25em
          height: 100%
          width: 100%
        .no-touch &:hover
          color: $blue
        &.facebook
          @extend .icon-facebook
        &.twitter
          @extend .icon-twitter
        &.linkedin
          @extend .icon-linkedin
  .accessibility
    +inlineb
    margin-bottom: $xsmall
  .contribute, .archives
    +clearfix
    >*
      +inlineb
      padding-right: 0.5em
  .conception
    position: absolute
    right: 0
    bottom: -0.5em
    >*
      +inlineb
      +align-children(middle)
    p
      margin: 0
  .logo-o2
    width: 5em
    height: auto
    img
      width: 100%
      height: auto
      position: relative
      top: -0.25em


