@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600,700));
@import url(http://weloveiconfonts.com/api/?family=typicons);
@import url(http://weloveiconfonts.com/api/?family=entypo);
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(boxsizing.htc); }

html,
button,
input,
select,
textarea {
  color: black; }

body {
  background: white;
  position: relative;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit; }

a {
  text-decoration: none; }
  a:hover, a:active {
    text-decoration: none; }
  a:link {
    outline: none; }

strong, b {
  font-weight: bold; }

ul {
  padding: 0;
  margin: 0; }

::-moz-selection {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border: none;
  outline: none;
  text-shadow: none; }

::selection {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border: none;
  outline: none;
  text-shadow: none; }

*:focus {
  background: none;
  border: none;
  outline: none;
  text-shadow: none; }

ul {
  list-style: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

sup,
sub {
  text-transform: none; }

input, button, select, option, textarea {
  font-size: 100%; }

.chromeframe {
  margin: 0.2em 0;
  background: #cccccc;
  color: black;
  padding: 0.2em 0; }

body {
  color: #111111;
  font-family: "Titillium Web", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }

p {
  line-height: 1.375;
  margin-bottom: 1.5em; }

strong,
b {
  font-weight: 700; }

a {
  color: #0094c2; }
  .no-touch a:hover {
    color: #00bfdf; }
  .dark a {
    color: #00bfdf; }
    .no-touch .dark a:hover {
      color: white; }

.title, header[role="banner"] nav ul a {
  color: #303030;
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 0.4em;
  display: block;
  text-transform: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto; }
  .dark .title, .dark header[role="banner"] nav ul a, header[role="banner"] nav ul .dark a {
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .title.main, header[role="banner"] nav ul a.main {
    font-size: 3em;
    font-weight: 300;
    text-transform: uppercase; }
  .title.sub, header[role="banner"] nav ul a.sub {
    font-size: 1.125em;
    font-weight: 300;
    text-transform: uppercase; }
  .title.small, header[role="banner"] nav ul a {
    font-size: 1em;
    text-transform: uppercase; }
  .title.huge, header[role="banner"] nav ul a.huge {
    font-size: 2em;
    text-transform: uppercase; }
  .title.border-left, header[role="banner"] nav ul a.border-left {
    padding: 20px 30px 20px; }
    .title.border-left .border-bottom, header[role="banner"] nav ul a.border-left .border-bottom {
      position: absolute;
      left: 0;
      bottom: 0; }

.main.title .meta, header[role="banner"] nav ul a.main .meta {
  font-size: 0.5em; }
.dark .meta {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.separator {
  font-size: 0.875em;
  margin: 0 0.3em;
  position: relative;
  top: -0.1em; }

.note {
  color: #b8b9c2;
  font-size: 0.875em;
  display: block; }
  .dark .note {
    color: #eeeef0; }
  .title + .note, header[role="banner"] nav ul a + .note {
    margin-top: -0.375em;
    margin-bottom: 1em; }

.list, .content ul, .content ol {
  list-style-type: none; }
  .list li, .content ul li, .content ol li {
    width: 100%;
    position: relative;
    padding: 5px 0 5px 20px; }
  .list.bullets li:after, .content ul li:after, .content ol.bullets li:after {
    position: absolute;
    top: 50%;
    left: 0;
    color: #00bfdf;
    margin-top: 0.2em;
    line-height: 0; }
  .list.numbered, .content ul.numbered, .content ol {
    list-style-type: none; }
    .list.numbered li, .content ul.numbered li, .content ol li {
      counter-increment: cntr; }
      .list.numbered li:before, .content ul.numbered li:before, .content ol li:before {
        content: counter(cntr);
        position: absolute;
        left: 0;
        color: #00bfdf;
        font-weight: 700; }

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon-blank:after,
.icon-star:after,
.btn.toggle.favorite > :after,
.toggle.favorite.profile > :after,
.btn.toggle.favorite.active > :after,
.toggle.favorite.active.profile > :after,
.icon-user:after,
.profile .links:after,
.icon-arrow-right:after,
.list.bullets li:after,
.content ul li:after,
.content ol.bullets li:after,
.btn.link > :after,
.link.profile > :after,
.icon-arrow-left:after,
.icon-arrow-top:after,
.icon-arrow-bottom:after,
.icon-facebook:after,
.profile .links a.facebook:after,
.social a.facebook:after,
.icon-twitter:after,
.profile .links a.twitter:after,
.social a.twitter:after,
.icon-linkedin:after,
.profile .links a.linkedin:after,
.social a.linkedin:after,
.icon-instagram:after,
.social a.instagram:after,
.icon-retweet:after,
.icon-reply:after,
.icon-favorite:after,
header[role="banner"] nav .secondary a:after,
.icon-more:after,
.btn.toggle > :after,
.toggle.profile > :after,
.icon-close:after,
.btn.toggle.active > :after,
.toggle.active.profile > :after,
.icon-website:after,
.social a.website:after {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  text-indent: 0; }

.icon-blank:after {
  content: "\f100"; }

.icon-star:after, .btn.toggle.favorite > :after, .toggle.favorite.profile > :after, .btn.toggle.favorite.active > :after, .toggle.favorite.active.profile > :after {
  content: "\f101"; }

.icon-user:after, .profile .links:after {
  content: "\f102"; }

.icon-arrow-right:after, .list.bullets li:after, .content ul li:after, .content ol.bullets li:after, .btn.link > :after, .link.profile > :after {
  content: "\f103"; }

.icon-arrow-left:after {
  content: "\f104"; }

.icon-arrow-top:after {
  content: "\f105"; }

.icon-arrow-bottom:after {
  content: "\f106"; }

.icon-facebook:after, .profile .links a.facebook:after, .social a.facebook:after {
  content: "\f107"; }

.icon-twitter:after, .profile .links a.twitter:after, .social a.twitter:after {
  content: "\f108"; }

.icon-linkedin:after, .profile .links a.linkedin:after, .social a.linkedin:after {
  content: "\f109"; }

.icon-instagram:after, .social a.instagram:after {
  content: "\f10a"; }

.icon-retweet:after {
  content: "\f10b"; }

.icon-reply:after {
  content: "\f10c"; }

.icon-favorite:after, header[role="banner"] nav .secondary a:after {
  content: "\f10d"; }

.icon-more:after, .btn.toggle > :after, .toggle.profile > :after {
  content: "\f10e"; }

.icon-close:after, .btn.toggle.active > :after, .toggle.active.profile > :after {
  content: "\f10f"; }

.icon-website:after, .social a.website:after {
  content: "\f10f"; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.text-indent {
  text-indent: -9999px;
  display: block;
  overflow: hidden; }

.clearfix:before, form:before,
.clearfix:after,
form:after {
  content: " ";
  display: table; }

.clearfix:after, form:after {
  clear: both; }

.clearfix, form {
  *zoom: 1; }

html, body {
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%; }

body {
  overflow: hidden;
  height: auto; }

html {
  overflow-x: hidden;
  overflow-y: auto; }

.wrapper {
  min-height: 100%; }

section,
article {
  padding: 30px 0;
  position: relative;
  z-index: 1;
  overflow: hidden; }
  section header,
  section hgroup,
  article header,
  article hgroup {
    padding: 30px 0 30px; }
  section.single header,
  section.single hgroup,
  article.single header,
  article.single hgroup {
    padding: 140px 0 30px; }

.container {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
  zoom: 1; }
  .container:before, .container:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .container:after {
    clear: both; }

.group {
  margin-bottom: 1em; }

header[role="banner"],
hgroup {
  position: relative;
  z-index: 10; }
  header[role="banner"] nav,
  hgroup nav {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 90px;
    z-index: 5; }
  header[role="banner"] .intro + nav,
  hgroup .intro + nav {
    position: absolute;
    top: auto;
    bottom: -45px; }
    header[role="banner"] .intro + nav.fixed,
    hgroup .intro + nav.fixed {
      position: fixed;
      top: 10px; }
      header[role="banner"] .intro + nav.fixed.bottom,
      hgroup .intro + nav.fixed.bottom {
        top: auto;
        bottom: 10px; }

.cols > *, .cols-2 > *, .cols-3 > *, .cols-4 > * {
  vertical-align: top; }

.cols-2 {
  font-size: 0;
  word-spacing: 0;
  line-height: 0;
  margin-left: -10px;
  margin-right: -10px; }
  .cols-2 > * {
    display: inline-block;
    *display: inline;
    zoom: 1;
    font-size: 16px;
    font-size: initial;
    word-spacing: normal;
    line-height: 1;
    width: 50%;
    padding: 0 10px 20px; }
  .cols-2.small-margins {
    font-size: 0;
    word-spacing: 0;
    line-height: 0;
    margin-left: -5px;
    margin-right: -5px; }
    .cols-2.small-margins > * {
      display: inline-block;
      *display: inline;
      zoom: 1;
      font-size: 16px;
      font-size: initial;
      word-spacing: normal;
      line-height: 1;
      width: 50%;
      padding: 0 5px 10px; }
  .cols-2.xsmall-margins {
    font-size: 0;
    word-spacing: 0;
    line-height: 0;
    margin-left: -2.5px;
    margin-right: -2.5px; }
    .cols-2.xsmall-margins > * {
      display: inline-block;
      *display: inline;
      zoom: 1;
      font-size: 16px;
      font-size: initial;
      word-spacing: normal;
      line-height: 1;
      width: 50%;
      padding: 0 2.5px 5px; }

.cols-3 {
  font-size: 0;
  word-spacing: 0;
  line-height: 0;
  margin-left: -10px;
  margin-right: -10px; }
  .cols-3 > * {
    display: inline-block;
    *display: inline;
    zoom: 1;
    font-size: 16px;
    font-size: initial;
    word-spacing: normal;
    line-height: 1;
    width: 33.33%;
    padding: 0 10px 20px; }
  .cols-3.small-margins {
    font-size: 0;
    word-spacing: 0;
    line-height: 0;
    margin-left: -5px;
    margin-right: -5px; }
    .cols-3.small-margins > * {
      display: inline-block;
      *display: inline;
      zoom: 1;
      font-size: 16px;
      font-size: initial;
      word-spacing: normal;
      line-height: 1;
      width: 33.33%;
      padding: 0 5px 10px; }
  .cols-3.xsmall-margins {
    font-size: 0;
    word-spacing: 0;
    line-height: 0;
    margin-left: -2.5px;
    margin-right: -2.5px; }
    .cols-3.xsmall-margins > * {
      display: inline-block;
      *display: inline;
      zoom: 1;
      font-size: 16px;
      font-size: initial;
      word-spacing: normal;
      line-height: 1;
      width: 33.33%;
      padding: 0 2.5px 5px; }

.cols-4 {
  font-size: 0;
  word-spacing: 0;
  line-height: 0;
  margin-left: -10px;
  margin-right: -10px; }
  .cols-4 > * {
    display: inline-block;
    *display: inline;
    zoom: 1;
    font-size: 16px;
    font-size: initial;
    word-spacing: normal;
    line-height: 1;
    width: 25%;
    padding: 0 10px 20px; }
  .cols-4.small-margins {
    font-size: 0;
    word-spacing: 0;
    line-height: 0;
    margin-left: -5px;
    margin-right: -5px; }
    .cols-4.small-margins > * {
      display: inline-block;
      *display: inline;
      zoom: 1;
      font-size: 16px;
      font-size: initial;
      word-spacing: normal;
      line-height: 1;
      width: 25%;
      padding: 0 5px 10px; }
  .cols-4.xsmall-margins {
    font-size: 0;
    word-spacing: 0;
    line-height: 0;
    margin-left: -2.5px;
    margin-right: -2.5px; }
    .cols-4.xsmall-margins > * {
      display: inline-block;
      *display: inline;
      zoom: 1;
      font-size: 16px;
      font-size: initial;
      word-spacing: normal;
      line-height: 1;
      width: 25%;
      padding: 0 2.5px 5px; }

.col:first-child {
  float: left;
  padding-right: 30px; }
.col.wide {
  width: 66%; }
.col.narrow {
  width: 34%; }
.col + .col {
  display: block;
  width: auto; }
  .col + .col.narrow {
    padding-left: 66%; }
  .col + .col.wide {
    padding-left: 34%; }

.dark {
  background: #303030;
  color: white; }

.light {
  background: white;
  color: #111111; }

.l-grey {
  background: #eeeef0;
  color: #111111; }

.gradient {
  color: white;
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, #00bfdf), color-stop(1, #005f93));
  background-image: -o-linear-gradient(right top, #00bfdf 0%, #005f93 100%);
  background-image: -moz-linear-gradient(right top, #00bfdf 0%, #005f93 100%);
  background-image: -webkit-linear-gradient(right top, #00bfdf 0%, #005f93 100%);
  background-image: -ms-linear-gradient(right top, #00bfdf 0%, #005f93 100%);
  background-image: linear-gradient(to right top, #00bfdf 0%, #005f93 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF00BFDF, endColorstr=#FF005F93,GradientType=0 ); }

.shadows, header[role="banner"] nav .main,
header[role="banner"] nav .secondary {
  -webkit-box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.1), 0px 1px 2px 0 rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.1), 0px 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.1), 0px 1px 2px 0 rgba(0, 0, 0, 0.06); }

.border, .border-left, .border-right, .border-bottom, .border-top {
  position: relative; }
  .border:after, .border-left:after, .border-right:after, .border-bottom:after, .border-top:after {
    content: "";
    display: block;
    width: 1px;
    height: 1px;
    background: #00bfdf;
    position: absolute; }

.border-left:after {
  top: 0;
  left: 0;
  height: 100%; }

.border-right:after {
  top: 0;
  right: 0;
  height: 100%; }

.border-bottom:after {
  bottom: 0;
  left: 0;
  width: 100%; }

.border-top:after {
  left: 0;
  top: 0;
  width: 100%; }

.expandable {
  width: 90%;
  -webkit-transition: width 200ms cubic-bezier(0.2, 0, 0.4, 1);
  -moz-transition: width 200ms cubic-bezier(0.2, 0, 0.4, 1);
  -ms-transition: width 200ms cubic-bezier(0.2, 0, 0.4, 1);
  -o-transition: width 200ms cubic-bezier(0.2, 0, 0.4, 1);
  transition: width 200ms cubic-bezier(0.2, 0, 0.4, 1); }

.thumb {
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
  .thumb img {
    max-height: 100%; }

.btn, .profile {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  padding-bottom: 1.5em;
  margin: 3px 5px -1.05em 0;
  position: relative;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "Titillium Web", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.2;
  z-index: 0; }
  .btn:before, .profile:before, .btn:after, .profile:after,
  .btn > *:before,
  .profile > *:before,
  .btn > *:after,
  .profile > *:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer; }
  .btn:before, .profile:before, .btn:after, .profile:after,
  .btn > *:before,
  .profile > *:before {
    height: auto;
    width: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 1.5em; }
  .btn:after, .profile:after {
    z-index: -1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #eeeef0;
    -webkit-box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2), 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2), 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2), 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: border-color 120ms cubic-bezier(0.2, 0, 0.4, 1);
    -moz-transition: border-color 120ms cubic-bezier(0.2, 0, 0.4, 1);
    -ms-transition: border-color 120ms cubic-bezier(0.2, 0, 0.4, 1);
    -o-transition: border-color 120ms cubic-bezier(0.2, 0, 0.4, 1);
    transition: border-color 120ms cubic-bezier(0.2, 0, 0.4, 1); }
  .btn:before, .profile:before {
    right: 100%;
    z-index: -1;
    background: #eeeef0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: right 120ms cubic-bezier(0.2, 0, 0.4, 1), background 120ms cubic-bezier(0.2, 0, 0.4, 1);
    -moz-transition: right 120ms cubic-bezier(0.2, 0, 0.4, 1), background 120ms cubic-bezier(0.2, 0, 0.4, 1);
    -ms-transition: right 120ms cubic-bezier(0.2, 0, 0.4, 1), background 120ms cubic-bezier(0.2, 0, 0.4, 1);
    -o-transition: right 120ms cubic-bezier(0.2, 0, 0.4, 1), background 120ms cubic-bezier(0.2, 0, 0.4, 1);
    transition: right 120ms cubic-bezier(0.2, 0, 0.4, 1), background 120ms cubic-bezier(0.2, 0, 0.4, 1); }
  .btn > *, .profile > * {
    padding: 0.5em 1em 0.5em 1em;
    display: inline-block;
    *display: inline;
    zoom: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: color 120ms linear;
    -moz-transition: color 120ms linear;
    -ms-transition: color 120ms linear;
    -o-transition: color 120ms linear;
    transition: color 120ms linear; }
    .btn > *:before, .profile > *:before {
      background: white;
      z-index: -2;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px; }
    .btn > *:after, .profile > *:after {
      text-align: right;
      font-size: 0.8em;
      padding: 0.2em 1em;
      color: #b8b9c2;
      -webkit-transition: color 120ms linear 60ms;
      -moz-transition: color 120ms linear 60ms;
      -ms-transition: color 120ms linear 60ms;
      -o-transition: color 120ms linear 60ms;
      transition: color 120ms linear 60ms; }
  .dark .btn, .dark .profile {
    color: white; }
    .dark .btn:before, .dark .profile:before {
      background: #111111; }
    .dark .btn:after, .dark .profile:after {
      border-color: #525252; }
    .dark .btn > *:before, .dark .profile > *:before {
      background: #303030; }
    .dark .btn.toggle.active:after, .dark .toggle.active.profile:after {
      border-color: #005f93; }
  .l-grey .btn:before, .l-grey .profile:before {
    background: #eeeef0; }
  .l-grey .btn:after, .l-grey .profile:after {
    border-color: #b8b9c2; }
  .l-grey .btn > *:before, .l-grey .profile > *:before {
    background: #eeeef0; }
  .no-touch .btn:hover:before, .no-touch .profile:hover:before {
    right: 1px; }
  .no-touch .btn:hover > *:after, .no-touch .profile:hover > *:after {
    color: #00bfdf; }
  .btn.big, .big.profile {
    font-size: 1.25em; }
    .btn.big.toggle > *:after, .big.toggle.profile > *:after {
      line-height: 2.7em; }
  .btn.toggle, .toggle.profile {
    padding-right: 1.2em; }
    .btn.toggle > *:after, .toggle.profile > *:after {
      text-align: right;
      line-height: 2.5em; }
    .btn.toggle.active, .toggle.active.profile {
      color: #eeeef0; }
      .btn.toggle.active:before, .toggle.active.profile:before {
        background: #005f93;
        right: 1px; }
      .btn.toggle.active:after, .toggle.active.profile:after {
        border-color: #005f93; }
      .btn.toggle.active > *:after, .toggle.active.profile > *:after {
        color: #eeeef0; }
      .no-touch .btn.toggle.active:hover, .no-touch .toggle.active.profile:hover {
        color: white; }
        .no-touch .btn.toggle.active:hover > *:after, .no-touch .toggle.active.profile:hover > *:after {
          color: #00bfdf; }
    .btn.toggle.favorite, .toggle.favorite.profile {
      color: #005f93; }
      .btn.toggle.favorite > *:after, .toggle.favorite.profile > *:after {
        color: #005f93;
        -webkit-transition: all 120ms cubic-bezier(0.2, 0, 0.4, 1);
        -moz-transition: all 120ms cubic-bezier(0.2, 0, 0.4, 1);
        -ms-transition: all 120ms cubic-bezier(0.2, 0, 0.4, 1);
        -o-transition: all 120ms cubic-bezier(0.2, 0, 0.4, 1);
        transition: all 120ms cubic-bezier(0.2, 0, 0.4, 1); }
      .btn.toggle.favorite.active, .toggle.favorite.active.profile {
        color: #525252; }
        .btn.toggle.favorite.active > *:after, .toggle.favorite.active.profile > *:after {
          color: #00bfdf;
          font-size: 1em;
          line-height: 2em;
          padding: 0.2em 0.75em; }
      .dark .btn.toggle.favorite, .dark .toggle.favorite.profile {
        color: #00bfdf; }
        .dark .btn.toggle.favorite.active, .dark .toggle.favorite.active.profile {
          color: #b8b9c2; }
  .btn.link, .link.profile {
    padding-right: 2em; }
    .btn.link > *:after, .link.profile > *:after {
      text-align: right;
      line-height: 2.5em; }
  .btn.seamless:before, .seamless.profile:before,
  .btn.seamless > *:before,
  .seamless.profile > *:before {
    display: none; }
  .btn.seamless:after, .seamless.profile:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: opacity 240ms ease-in-out;
    -moz-transition: opacity 240ms ease-in-out;
    -ms-transition: opacity 240ms ease-in-out;
    -o-transition: opacity 240ms ease-in-out;
    transition: opacity 240ms ease-in-out; }
  .no-touch .btn.seamless:hover:after, .no-touch .seamless.profile:hover:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1; }
  .btn.seamless.toggle:before, .seamless.toggle.profile:before,
  .btn.seamless.toggle > *:before,
  .seamless.toggle.profile > *:before {
    display: block; }
  .btn.seamless.toggle:before, .seamless.toggle.profile:before {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    width: 0;
    -webkit-transition: opacity 240ms ease-in-out, width 240ms cubic-bezier(0.2, 0, 0.4, 1);
    -moz-transition: opacity 240ms ease-in-out, width 240ms cubic-bezier(0.2, 0, 0.4, 1);
    -ms-transition: opacity 240ms ease-in-out, width 240ms cubic-bezier(0.2, 0, 0.4, 1);
    -o-transition: opacity 240ms ease-in-out, width 240ms cubic-bezier(0.2, 0, 0.4, 1);
    transition: opacity 240ms ease-in-out, width 240ms cubic-bezier(0.2, 0, 0.4, 1); }
  .btn.seamless.toggle > *:before, .seamless.toggle.profile > *:before {
    background: none; }
  .no-touch .btn.seamless.toggle:hover:before, .no-touch .seamless.toggle.profile:hover:before {
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1; }

.profile {
  padding: 0.2em 0.5em 1.65em 0.5em;
  margin: 3px 5px -1.35em 0; }
  .profile:before {
    display: none; }
  .profile > * {
    height: 3.6em;
    padding-left: 4em; }
  .profile .thumb {
    position: absolute;
    top: 0.8em;
    left: 0.875em;
    height: 2.4em;
    width: 2.4em; }
  .profile .infos {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle; }
    .profile .infos:before {
      content: "";
      display: inline-block;
      *display: inline;
      zoom: 1;
      height: 100%;
      width: 0;
      vertical-align: middle;
      margin-right: -4px; }
    .profile .infos > * {
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: middle; }
  .profile .name {
    font-size: 1.25em;
    line-height: 1;
    font-weight: 700;
    color: #005f93;
    text-transform: none;
    padding-right: 2.4em;
    -webkit-transition: margin 320ms cubic-bezier(0.2, 0, 0.4, 1);
    -moz-transition: margin 320ms cubic-bezier(0.2, 0, 0.4, 1);
    -ms-transition: margin 320ms cubic-bezier(0.2, 0, 0.4, 1);
    -o-transition: margin 320ms cubic-bezier(0.2, 0, 0.4, 1);
    transition: margin 320ms cubic-bezier(0.2, 0, 0.4, 1); }
  .profile .links {
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    text-align: right;
    padding-left: 2.4em;
    margin-left: -2.4em;
    cursor: default;
    -webkit-transition: left 320ms cubic-bezier(0.2, 0, 0.4, 1), margin-left 320ms cubic-bezier(0.2, 0, 0.4, 1);
    -moz-transition: left 320ms cubic-bezier(0.2, 0, 0.4, 1), margin-left 320ms cubic-bezier(0.2, 0, 0.4, 1);
    -ms-transition: left 320ms cubic-bezier(0.2, 0, 0.4, 1), margin-left 320ms cubic-bezier(0.2, 0, 0.4, 1);
    -o-transition: left 320ms cubic-bezier(0.2, 0, 0.4, 1), margin-left 320ms cubic-bezier(0.2, 0, 0.4, 1);
    transition: left 320ms cubic-bezier(0.2, 0, 0.4, 1), margin-left 320ms cubic-bezier(0.2, 0, 0.4, 1); }
    .profile .links:after {
      position: absolute;
      top: 0;
      left: 0;
      height: 2.4em;
      width: 2em;
      text-align: left;
      line-height: 2.75em;
      font-size: 1.5em;
      color: #b8b9c2; }
    .profile .links ul {
      height: 100%;
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: middle; }
      .profile .links ul:before {
        content: "";
        display: inline-block;
        *display: inline;
        zoom: 1;
        height: 100%;
        width: 0;
        vertical-align: middle;
        margin-right: -4px; }
      .profile .links ul > * {
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: middle; }
      .profile .links ul:before {
        margin-left: 0; }
    .profile .links li {
      display: inline-block;
      *display: inline;
      zoom: 1; }
    .profile .links a {
      text-align: left;
      text-indent: -9999px;
      display: block;
      width: 1.5em;
      height: 2em;
      position: relative;
      color: #303030; }
      .profile .links a:after {
        position: absolute;
        top: 0;
        left: 0;
        line-height: 2em;
        height: 100%;
        width: 100%; }
      .no-touch .profile .links a:hover {
        color: #00bfdf; }
  .profile.mini {
    font-size: 0.75em; }
    .profile.mini > * {
      height: 2.75em; }
    .profile.mini .thumb {
      width: 2.5em;
      height: 2.5em;
      top: 0.33em;
      left: 0.5em; }
    .profile.mini .name {
      text-indent: 4px;
      color: #303030;
      font-weight: 400; }
    .profile.mini .links {
      font-size: 1.25em; }
      .profile.mini .links:after {
        height: 1.5em;
        line-height: 1.75em;
        color: white;
        -webkit-transition: color 240ms linear;
        -moz-transition: color 240ms linear;
        -ms-transition: color 240ms linear;
        -o-transition: color 240ms linear;
        transition: color 240ms linear; }
    .no-touch .profile.mini:hover .links:after {
      color: #b8b9c2; }
  .profile.active .name, .no-touch .profile:hover .name {
    margin-left: -100%; }
  .profile.active .links, .no-touch .profile:hover .links {
    left: 0;
    margin-left: 0; }

.tags {
  display: block; }
  .tags > * {
    display: inline-block; }

.social a {
  position: relative;
  padding-left: 1.5em;
  display: block;
  line-height: 1.375; }
  .social a:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%; }

header[role="banner"] nav .logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle; }
  header[role="banner"] nav .logo:before {
    content: "";
    display: inline-block;
    *display: inline;
    zoom: 1;
    height: 100%;
    width: 0;
    vertical-align: middle;
    margin-right: -4px; }
  header[role="banner"] nav .logo > * {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle; }
  header[role="banner"] nav .logo a {
    padding: 0 30px; }
  header[role="banner"] nav .logo img {
    width: 91px; }
header[role="banner"] nav ul a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 0.35em 0;
  margin: 0 1em;
  border-bottom: 0 solid white;
  -webkit-transition: all 120ms cubic-bezier(0.2, 0, 0.4, 1);
  -moz-transition: all 120ms cubic-bezier(0.2, 0, 0.4, 1);
  -ms-transition: all 120ms cubic-bezier(0.2, 0, 0.4, 1);
  -o-transition: all 120ms cubic-bezier(0.2, 0, 0.4, 1);
  transition: all 120ms cubic-bezier(0.2, 0, 0.4, 1); }
header[role="banner"] nav ul li.active a, .no-touch header[role="banner"] nav ul a:hover {
  color: #00bfdf;
  padding: 0 0 0.7em;
  margin: 0 1em 0.35em;
  border-bottom: 1px solid #00bfdf; }
header[role="banner"] nav .main,
header[role="banner"] nav .secondary {
  background: white;
  padding: 20px;
  height: 100%;
  z-index: 2;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle; }
  header[role="banner"] nav .main:before,
  header[role="banner"] nav .secondary:before {
    content: "";
    display: inline-block;
    *display: inline;
    zoom: 1;
    height: 100%;
    width: 0;
    vertical-align: middle;
    margin-right: -4px; }
  header[role="banner"] nav .main > *,
  header[role="banner"] nav .secondary > * {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle; }
  header[role="banner"] nav .main a,
  header[role="banner"] nav .secondary a {
    color: #005f93; }
    .no-touch header[role="banner"] nav .main a:hover, .no-touch
    header[role="banner"] nav .secondary a:hover {
      color: #00bfdf; }
    header[role="banner"] nav .main a.active,
    header[role="banner"] nav .secondary a.active {
      color: #00bfdf; }
header[role="banner"] nav .main {
  display: block;
  padding-left: 151px;
  margin-right: 210px; }
header[role="banner"] nav .secondary {
  float: right;
  width: 200px;
  padding: 20px 30px;
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, #00bfdf), color-stop(1, #005f93));
  background-image: -o-linear-gradient(right top, #00bfdf 0%, #005f93 100%);
  background-image: -moz-linear-gradient(right top, #00bfdf 0%, #005f93 100%);
  background-image: -webkit-linear-gradient(right top, #00bfdf 0%, #005f93 100%);
  background-image: -ms-linear-gradient(right top, #00bfdf 0%, #005f93 100%);
  background-image: linear-gradient(to right top, #00bfdf 0%, #005f93 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF00BFDF, endColorstr=#FF005F93,GradientType=0 ); }
  header[role="banner"] nav .secondary:before {
    margin: 0; }
  header[role="banner"] nav .secondary li {
    width: 100%; }
  header[role="banner"] nav .secondary a {
    color: #eeeef0;
    width: 100%;
    position: relative;
    margin-left: 0;
    margin-right: 0; }
    header[role="banner"] nav .secondary a:after {
      float: right;
      line-height: 1em;
      margin-right: 0.1em; }
  header[role="banner"] nav .secondary li.active a, .no-touch header[role="banner"] nav .secondary a:hover {
    color: white;
    border-color: white;
    margin-left: 0;
    margin-right: 0; }

input[type="submit"],
input[type="text"],
input[type="password"],
input[type="file"],
select,
textarea {
  border: none;
  outline: none;
  outline-color: transparent;
  height: auto;
  -webkit-appearance: none;
  background-color: transparent;
  -webkit-font-smoothing: inherit !important; }

.intro {
  padding: 20px 0 65px; }
  .intro .container {
    position: relative;
    overflow: hidden;
    max-width: 1200px;
    z-index: 2;
    padding: 100px 20px; }
  .intro .bg {
    position: absolute;
    top: 0;
    left: -50%;
    width: 200%;
    height: 100%;
    z-index: 0;
    text-align: center; }
    .intro .bg > * {
      display: inline-block;
      *display: inline;
      zoom: 1;
      min-width: 50%;
      min-height: 100%; }
  .intro .col.main > * {
    padding: 20px; }
  .intro .col.left {
    text-align: right; }
  .intro .main.right {
    position: absolute;
    top: 100px;
    left: 50%;
    right: 20px;
    bottom: 100px; }
    .intro .main.right > * {
      position: absolute;
      left: 0;
      width: 100%; }
    .intro .main.right .border-top,
    .intro .main.right .border-bottom {
      display: block;
      height: 1px;
      width: 10%;
      padding: 0;
      position: absolute;
      left: 0; }
    .intro .main.right .top {
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: top;
      height: 23%;
      margin: 0;
      background: url(../img/marker.png) no-repeat center top; }
      .intro .main.right .top:before {
        content: "";
        display: inline-block;
        *display: inline;
        zoom: 1;
        height: 100%;
        width: 0;
        vertical-align: top;
        margin-right: -4px; }
      .intro .main.right .top > * {
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: top; }
      .intro .main.right .top .left {
        padding-right: 45px; }
      .intro .main.right .top .right {
        padding-left: 45px; }
      .intro .main.right .top:after {
        height: 300%;
        top: auto;
        bottom: 0; }
      .intro .main.right .top .border-bottom {
        bottom: 0; }
    .intro .main.right .middle {
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: middle;
      top: 23%;
      height: 28%;
      padding-left: 0; }
      .intro .main.right .middle:before {
        content: "";
        display: inline-block;
        *display: inline;
        zoom: 1;
        height: 100%;
        width: 0;
        vertical-align: middle;
        margin-right: -4px; }
      .intro .main.right .middle > * {
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: middle; }
    .intro .main.right .bottom {
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: middle;
      text-align: center;
      top: 51%;
      height: 49%; }
      .intro .main.right .bottom:before {
        content: "";
        display: inline-block;
        *display: inline;
        zoom: 1;
        height: 100%;
        width: 0;
        vertical-align: middle;
        margin-right: -4px; }
      .intro .main.right .bottom > * {
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: middle; }
      .intro .main.right .bottom:after {
        height: 300%; }
      .intro .main.right .bottom .border-top {
        top: 0; }
  .intro .title, .intro header[role="banner"] nav ul a, header[role="banner"] nav ul .intro a {
    margin: 0; }
  .intro img {
    max-width: 100%; }
  .intro .btn.eventbrite, .intro .eventbrite.profile {
    text-align: center;
    display: block; }
    .intro .btn.eventbrite .title, .intro .eventbrite.profile .title, .intro .btn.eventbrite header[role="banner"] nav ul a, header[role="banner"] nav ul .intro .btn.eventbrite a, .intro .eventbrite.profile header[role="banner"] nav ul a, header[role="banner"] nav ul .intro .eventbrite.profile a {
      padding: 30px 30px 20px; }
    .intro .btn.eventbrite img, .intro .eventbrite.profile img {
      margin-bottom: 30px; }
    .intro .btn.eventbrite:before, .intro .eventbrite.profile:before {
      display: block;
      background: #00bfdf; }
    .intro .btn.eventbrite:after, .intro .eventbrite.profile:after {
      border-color: #0094c2; }

.features {
  padding: 0; }
  .features .grid {
    width: 100%;
    font-size: 0;
    word-spacing: 0;
    line-height: 0;
    margin-left: 0;
    margin-right: 0; }
    .features .grid > * {
      display: inline-block;
      *display: inline;
      zoom: 1;
      font-size: 16px;
      font-size: initial;
      word-spacing: normal;
      line-height: 1;
      width: 50%;
      padding: 0 0 0; }
  .features .panel {
    padding-top: 28%;
    position: relative;
    overflow: hidden;
    z-index: 0;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.06);
    -webkit-transition: -webkit-box-shadow 240ms cubic-bezier(0.2, 0, 0.4, 1), z-index 0 linear 120ms;
    -moz-transition: -moz-box-shadow 240ms cubic-bezier(0.2, 0, 0.4, 1), z-index 0 linear 120ms;
    -ms-transition: -ms-box-shadow 240ms cubic-bezier(0.2, 0, 0.4, 1), z-index 0 linear 120ms;
    -o-transition: -o-box-shadow 240ms cubic-bezier(0.2, 0, 0.4, 1), z-index 0 linear 120ms;
    transition: box-shadow 240ms cubic-bezier(0.2, 0, 0.4, 1), z-index 0 linear 120ms; }
    .no-touch .features .panel:hover, .features .panel.active {
      z-index: 1;
      -webkit-box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2), 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2), 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2), 0px 2px 3px 0 rgba(0, 0, 0, 0.1); }
      .no-touch .features .panel:hover figcaption, .features .panel.active figcaption {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
    .features .panel > * {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .features .image {
    z-index: 0; }
    .features .image img {
      width: 100%; }
  .features .favorite {
    float: right;
    margin-right: 0;
    margin-left: 1em; }
  .features .speaker {
    margin-bottom: 0.5em; }
    .features .speaker .title, .features .speaker header[role="banner"] nav ul a, header[role="banner"] nav ul .features .speaker a {
      margin-bottom: 0.2em; }
  .features .infos {
    z-index: 1;
    padding: 30px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: bottom;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    -moz-transform: translate3d(0, 30px, 0);
    -ms-transform: translate3d(0, 30px, 0);
    -o-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
    -webkit-transition: opacity 120ms cubic-bezier(0.2, 0, 0.4, 1), -webkit-transform 120ms cubic-bezier(0.2, 0, 0.4, 1);
    -moz-transition: opacity 120ms cubic-bezier(0.2, 0, 0.4, 1), -moz-transform 120ms cubic-bezier(0.2, 0, 0.4, 1);
    -ms-transition: opacity 120ms cubic-bezier(0.2, 0, 0.4, 1), -ms-transform 120ms cubic-bezier(0.2, 0, 0.4, 1);
    -o-transition: opacity 120ms cubic-bezier(0.2, 0, 0.4, 1), -o-transform 120ms cubic-bezier(0.2, 0, 0.4, 1);
    transition: opacity 120ms cubic-bezier(0.2, 0, 0.4, 1), transform 120ms cubic-bezier(0.2, 0, 0.4, 1); }
    .features .infos:before {
      content: "";
      display: inline-block;
      *display: inline;
      zoom: 1;
      height: 100%;
      width: 0;
      vertical-align: bottom;
      margin-right: -4px; }
    .features .infos > * {
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: bottom; }
    .features .infos > * {
      width: 100%; }
    .features .infos:after {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 110%;
      background: url(../img/gradient-alpha-vertical-fff.png) repeat-x left bottom; }
  .features .session {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 100%; }
    .features .session .wrap {
      padding-left: 8.5em;
      display: inline-block;
      *display: inline;
      zoom: 1; }
      .features .session .wrap:after {
        font-size: 1.25em;
        padding-right: 0.75em; }
    .features .session .meta {
      position: absolute;
      top: 0;
      bottom: 1.5em;
      left: 0;
      width: 7.5em;
      text-align: center;
      -webkit-border-radius: 4px 0 0 4px;
      -moz-border-radius: 4px 0 0 4px;
      border-radius: 4px 0 0 4px;
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: middle; }
      .features .session .meta:before {
        content: "";
        display: inline-block;
        *display: inline;
        zoom: 1;
        height: 100%;
        width: 0;
        vertical-align: middle;
        margin-right: -4px; }
      .features .session .meta > * {
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: middle; }
      .features .session .meta > * {
        display: inline-block;
        *display: inline;
        zoom: 1;
        padding: 0.5em;
        height: 100%;
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: middle; }
        .features .session .meta > *:before {
          content: "";
          display: inline-block;
          *display: inline;
          zoom: 1;
          height: 100%;
          width: 0;
          vertical-align: middle;
          margin-right: -4px; }
        .features .session .meta > * > * {
          display: inline-block;
          *display: inline;
          zoom: 1;
          vertical-align: middle; }
        .features .session .meta > * + * {
          border-left: 1px solid #525252; }
      .features .session .meta .title, .features .session .meta header[role="banner"] nav ul a, header[role="banner"] nav ul .features .session .meta a {
        margin: 0;
        line-height: 1;
        text-align: right; }
    .features .session .session-title {
      padding: 0.25em 0.5em;
      color: #005f93;
      margin: 0; }

.program {
  padding-top: 0; }
  .program > nav {
    padding-top: 50px;
    padding-bottom: 30px; }
  .program .days ul {
    font-size: 0;
    word-spacing: 0;
    line-height: 0;
    margin-left: -10px;
    margin-right: -10px; }
    .program .days ul > * {
      display: inline-block;
      *display: inline;
      zoom: 1;
      font-size: 16px;
      font-size: initial;
      word-spacing: normal;
      line-height: 1;
      width: 33.33%;
      padding: 0 10px 20px; }
  .program .days .btn, .program .days .profile {
    width: 100%;
    text-align: right; }
  .program .days .title, .program .days header[role="banner"] nav ul a, header[role="banner"] nav ul .program .days a {
    margin: 0; }

.single hgroup .btn, .single hgroup .profile {
  float: right;
  position: relative;
  z-index: 100;
  margin-top: 1em;
  margin-bottom: -2em; }
.single .session,
.single .conferencer {
  padding: 50px 0; }
.single .session {
  font-size: 1.25em; }
  .single .session .tags {
    font-size: 0.875em; }
  .single .session .content + * {
    border-top: 1px solid #b8b9c2;
    padding-top: 20px;
    margin-top: 20px; }
.single .about {
  text-align: center;
  display: block;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #b8b9c2; }
  .single .about > * {
    display: inline-block; }
  .single .about .name {
    width: 100%;
    margin-top: 20px; }
.single .thumb {
  width: 200px;
  height: 200px; }
  .single .thumb img {
    min-height: 100%; }

@media screen and (max-width: 580px) {
  .cols-2 {
    font-size: 0;
    word-spacing: 0;
    line-height: 0;
    margin-left: 0;
    margin-right: 0; }
    .cols-2 > * {
      display: inline-block;
      *display: inline;
      zoom: 1;
      font-size: 16px;
      font-size: initial;
      word-spacing: normal;
      line-height: 1;
      width: 100%;
      padding: 0 0 0; }
    .cols-2.small-margins {
      font-size: 0;
      word-spacing: 0;
      line-height: 0;
      margin-left: 0;
      margin-right: 0; }
      .cols-2.small-margins > * {
        display: inline-block;
        *display: inline;
        zoom: 1;
        font-size: 16px;
        font-size: initial;
        word-spacing: normal;
        line-height: 1;
        width: 100%;
        padding: 0 0 0; }
    .cols-2.xsmall-margins {
      font-size: 0;
      word-spacing: 0;
      line-height: 0;
      margin-left: 0;
      margin-right: 0; }
      .cols-2.xsmall-margins > * {
        display: inline-block;
        *display: inline;
        zoom: 1;
        font-size: 16px;
        font-size: initial;
        word-spacing: normal;
        line-height: 1;
        width: 100%;
        padding: 0 0 0; }
    .intro .cols-2.top {
      font-size: 0;
      word-spacing: 0;
      line-height: 0;
      margin-left: -10px;
      margin-right: -10px; }
      .intro .cols-2.top > * {
        display: inline-block;
        *display: inline;
        zoom: 1;
        font-size: 16px;
        font-size: initial;
        word-spacing: normal;
        line-height: 1;
        width: 50%;
        padding: 0 10px 20px; }

  .cols-3 {
    font-size: 0;
    word-spacing: 0;
    line-height: 0;
    margin-left: -10px;
    margin-right: -10px; }
    .cols-3 > * {
      display: inline-block;
      *display: inline;
      zoom: 1;
      font-size: 16px;
      font-size: initial;
      word-spacing: normal;
      line-height: 1;
      width: 33.33%;
      padding: 0 10px 20px; }
    .cols-3.small-margins {
      font-size: 0;
      word-spacing: 0;
      line-height: 0;
      margin-left: -5px;
      margin-right: -5px; }
      .cols-3.small-margins > * {
        display: inline-block;
        *display: inline;
        zoom: 1;
        font-size: 16px;
        font-size: initial;
        word-spacing: normal;
        line-height: 1;
        width: 33.33%;
        padding: 0 5px 10px; }
    .cols-3.xsmall-margins {
      font-size: 0;
      word-spacing: 0;
      line-height: 0;
      margin-left: -2.5px;
      margin-right: -2.5px; }
      .cols-3.xsmall-margins > * {
        display: inline-block;
        *display: inline;
        zoom: 1;
        font-size: 16px;
        font-size: initial;
        word-spacing: normal;
        line-height: 1;
        width: 33.33%;
        padding: 0 2.5px 5px; }

  .cols-4 {
    font-size: 0;
    word-spacing: 0;
    line-height: 0;
    margin-left: -10px;
    margin-right: -10px; }
    .cols-4 > * {
      display: inline-block;
      *display: inline;
      zoom: 1;
      font-size: 16px;
      font-size: initial;
      word-spacing: normal;
      line-height: 1;
      width: 25%;
      padding: 0 10px 20px; }
    .cols-4.small-margins {
      font-size: 0;
      word-spacing: 0;
      line-height: 0;
      margin-left: -5px;
      margin-right: -5px; }
      .cols-4.small-margins > * {
        display: inline-block;
        *display: inline;
        zoom: 1;
        font-size: 16px;
        font-size: initial;
        word-spacing: normal;
        line-height: 1;
        width: 25%;
        padding: 0 5px 10px; }
    .cols-4.xsmall-margins {
      font-size: 0;
      word-spacing: 0;
      line-height: 0;
      margin-left: -2.5px;
      margin-right: -2.5px; }
      .cols-4.xsmall-margins > * {
        display: inline-block;
        *display: inline;
        zoom: 1;
        font-size: 16px;
        font-size: initial;
        word-spacing: normal;
        line-height: 1;
        width: 25%;
        padding: 0 2.5px 5px; }

  .intro .col.main.left {
    text-align: center; }
  .intro .col.main.left > *, .intro .col.main.right > * {
    padding-left: 0;
    padding-right: 0; }
  .intro .main.right {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto; }
    .intro .main.right > * {
      position: static;
      left: auto;
      width: 100%; }
    .intro .main.right .top {
      height: auto;
      width: 100%; }
      .intro .main.right .top .left {
        padding-right: 30px;
        padding-left: 0; }
      .intro .main.right .top .right {
        padding-left: 30px;
        padding-right: 0; }
    .intro .main.right .middle {
      top: auto;
      height: auto; }
    .intro .main.right .bottom {
      top: auto;
      height: auto; } }
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
